<h1>Ruby</h1>
<posts name="posts">

</posts>

<paginate :click-handler="clickCallback" :page-count="10" container-class="pagination" next-text="next" prev-text="prev">
  <span slot="prevContent">
    Changed previous button
  </span>

  <span slot="nextContent">
    Changed next button
  </span>
</paginate>

